<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ex02_1QUIZ/src/data_bank/Bank_Main_notNo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="data_bank.Bank_Main_notNo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ex02_1QUIZ"/>
</launchConfiguration>
